@charset "UTF-8";

main {
    width: 60%;
}

.profile__icon {
    width: 13%;
}

.info__name {
    font-size: 2.3rem;
}

.info__verified {
    font-size: 2rem;
}

.testimonial__coment {
    font-size: 2rem;
} 