@charset "UTF-8";

main {
    display: flex;
    width: 90%;
    margin: 0px;
    margin: auto;
}

.sedans, .suvs, .luxury {
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.car__type {
    font-size: 5rem;
}

.car__info {
    font-size: 2rem;
    line-height: 145%;
    
}