@charset "UTF-8";

main {
    display: flex;
    margin: 5% auto; 
    width: 80%;
}

.sedans, .suvs, .luxury {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
}

.sedans {
    border-radius: 10px 0px 0px 10px;
}

.luxury {
    border-radius: 0px 10px 10px 0px;
}

.car__type {
    font-size: 5rem;
}

.car__info {
    font-size: 1.8rem;
    line-height: 145%;
}

.car__learnmore {
    font-size: 1.4rem;
    padding: 4% 4%;
    text-align: center;
    width: 45%;
}