@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0d1a2d;
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: #15273f;
    border-radius: 2rem;
    margin: auto;
    margin-top: 3rem;
    max-width: 653px;
    width: 90%; 
}

.image {
   margin: auto;
   padding-top: 5%;
   position: relative;
   width: 90%;
}

.image__nft {
    border-radius: 1rem;
    max-width: 100%;
}

.img__overlay {
    background-color: rgba(0, 225, 255, 0.247);
    border-radius: 1rem;
    display: none;
    height: 94%;
    left: 0px;
    position: absolute;
    top: 5.2%;
    width: 100%;
}
.image:hover .img__overlay {
    display: block;
}

.overlay__icon {
    padding-top: 45%;
    display: block;
    margin: auto;
}

.info {
    padding-left: 3rem;
}

.info__title {
    color: hsl(0, 0%, 100%);
    margin: 2.3rem 0rem;
}

.info__description {
    color: #6282a8;
    font-size: 1.8rem;
    line-height: 2.9rem;
    margin-bottom: 2.3rem;
    width: 88%;
}

.info__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem;
    width: 90%;
}

.data__cost {
    display: flex;
}

.cost__imgetherium {
    padding-right: 1rem;
    width: 2.4rem;
}

.cost__price {
    color: #02fffe;
    font-size: 1.7rem;
}

.info__days {
    display: flex;
}

.days__imgclock {
    padding-right: 1rem;
    width: 3.3rem;
}

.days__time {
    color: #6282a8;
    font-size: 1.8rem;
    font-weight: 400;
}

.creator {
    align-items: center;
    border-top: 1px solid #6282a8;
    display: flex;
    padding: 2.2rem 0rem;
    width: 90%;
}

.creator__avatar {
    border: 0.1px solid white;
    border-radius: 50%;
    width: 11%;
    margin-right: 2rem;
}

.creator__credits {
    color: #6282a8;
    font-size: 1.8rem;
}

.creator__name {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

@media screen and (min-width: 768px){
    main {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    main {
        margin-top: 3rem;
        width: 23%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 25%;
    }
}

