@charset "UTF-8";

main {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 2.5%;
    padding: 10% 2%;
    grid-template-areas: 
        "sec7 sec7 sec1 sec1 sec1 sec1 sec4 sec4"
        "sec7 sec7 sec1 sec1 sec1 sec1 sec4 sec4"
        "sec7 sec7 sec2 sec2 sec3 sec3 sec4 sec4"
        "sec8 sec8 sec2 sec2 sec3 sec3 sec4 sec4"
        "sec8 sec8 sec6 sec6 sec5 sec5 sec5 sec5"
        "sec8 sec8 sec6 sec6 sec5 sec5 sec5 sec5"
        
    ;
    width: 100%;
    height: 100%;
}

section {
    margin: 0%;
}

.main__section-1 {
    padding: 4%;
}

.section-1__title {
    font-size: 4.5rem;
    margin: 0% auto 2%;
    text-align: center;
}

.section-1__container {
    margin: 0% auto;
    width: 30%;
}

.main__section-7 {
    
}

.section-7__title {
    font-size:5rem;
}




.main__section-4 {
    align-self: normal;
}

.main__section-5 {
    margin: 0px;
}

.section-5__container {
    margin: 0px;
}
