@charset "UTF-8";

main {
    display: grid;
    column-gap: 4.5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'sec1 sec3'
        'sec2 sec2'
        'sec5 sec4'
        'sec8 sec6'
        'sec8 sec7'
        'null sec7'
    ;
}

.main__section-1 {
    align-content: center;
    grid-area: sec1;
    padding: 7%;
}

.section-1__title {
    font-size: 3.5rem;
    margin-bottom: 5%;
    width: 70%;
}

.section-1__container {
    margin-bottom: 3%;
    width: 60%;
}

.section-1__description {
    font-size: 1.9rem;
}

.main__section-2 {
    grid-area: sec2;
    margin-bottom: 5%;
}

.section-2__description {
    font-size: 3rem;
    text-align: center;
}

.main__section-3 {
    grid-area: sec3;
}

.section-3__title {
    font-size: 3rem;
    margin-bottom: 8%;
    margin-top: 2%;
    transform: translateY(15%);
}

.section-3__container {
    top: 31%;
    width: 80%;
    position: sticky;
}

.container__calendar {
    max-width: 100%;
}

.main__section-4 {
    align-self: start;
    grid-area: sec4;
    padding: 4%;
}

.section-4__title {
    font-size: 2.9rem;
}

.section-4__container {
    margin: 0% auto 5%;
    width: 85%;
}

.section-4__description {
    font-size: 1.7rem;
}

.main__section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: sec5;
}

.section-5__container {
    width: 
    80%;
}

.section-5__description {
    font-size: 3.2rem;
    margin: 0% auto;
    
}

.main__section-6 {
    grid-area: sec6;
}

.section-6__container {
    width: 50%;
}

.section-6__description {
    font-size: 2.5rem;
}

.main__section-7 {
    display: flex;
    grid-area: sec7;
    justify-content: center;
    flex-direction: column;
    
}

.section-7__title {
    margin-bottom: 10%;
}

.section-7__container {
    margin: auto;
    width: 65%;
}

.main__section-8 {
    grid-area: sec8;
}