@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

main {
    margin: 20% auto;
    width: 87%;
}

.title {
    color: #515062;
    font-size: 3.1rem;
    font-weight: 200;
    text-align: center;
}

.title__highlight {
    color: #31323d;
    font-size: 3rem;
    text-align: center;
}

.description {
    color: #4a4b5db0;
    font-size: 1.8rem;
    margin: 4% 0% 18% 0%;
    text-align: center;
}

.column__card {
    border-top: 4px solid #49cfd0;
    border-radius: 6px;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.13);
    margin-bottom: 8%;
    padding: 7%;
}

.column__card--red {
    border-top: 4px solid #da5c5f;
}

.column__card--yellow {
    border-top: 4px solid #f5ae56;
}

.column__card--darkblue {
    border-top: 4px solid #589deb;
}

.card__title {
    color: #4d4f5b;
    margin-bottom: 2%;
}

.card__description {
    color: #4a4b5db0;
    width: 84%;
}

.card__image {
    margin-top: 20%;
    margin-left: 80%;
}