@charset "UTF-8";

html {
    font-size: 80%;
}

main {
    width: 75%;
}

.advantages__title {
    font-size: 2.7rem;
}

.advantages__subtitle {
    font-size: 2.1rem;
}

.advantages__description {
    font-size: 1.7rem;
}

.price__button {
    font-size: 1.8rem;
    padding: 4.5%;
}

.whyus__title {
    font-size: 2.5rem;
}

.whyus__description {
    font-size: 1.6rem;
} 