@charset "UTF-8";


body {
    
}

main {
    background-color: gray;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: 10% auto;
}

.results {
    width: 600px;
}

.summary {
    display: flex;
    flex-direction: column;
}