.card {
    width: 70%;
}

.card__title {
    font-size: 3.5rem;
}

.card__description {
    font-size: 2.1rem;
}

.rating__number {
    font-size: 2.3rem;
}

.card__submit {
    margin: auto;
    font-size: 2.2rem;
    padding: 3%;
    width: 65%;
}