@charset "UTF-8";

main {
    width: 65%;
}

.card__tag {
    font-size: 2rem;
}

.card__date {
    font-size: 2rem;
}

.card__title {
    font-size: 2.9rem;
}

.card__description {
    font-size: 2rem;
}

.author__profile {
    width: 13%;
}


.author__name {
    font-size: 2.2rem;
}