@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Open Sans", sans-serif;
   font-family: "Raleway", sans-serif; */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: black; */
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

header {
    display: grid;
    align-items: center;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
}

.logo__image {
    width: 53%;
}

.navigation__items {
    display: flex;
    
    justify-content: space-between;
}

.items__links {
    align-self: center;
    list-style: none;
    max-width: 100%;
}

.links__link {
    color: #2b2549;
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 100%;
    text-decoration: none;
}

main {
    margin: 15% auto 0% auto;
    width: 80%;
}

.container__hero {
    display: flex;
    justify-content: center;
}

.hero__illustration {
    max-width: 100%;
    margin-bottom: 11%;
}

.about__title {
    color: #09063f;
    font-size: 2.9rem;
    margin-bottom: 7%;
    text-align: center;
}

.about__description {
    color: #1a183d;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8%;
    text-align: center;
}

.form__input {
    display: block;
    border: 1px solid #09063fcb;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 4%;
    padding: 4%;
    width: 100%;
}

.form__send {
    display: block;
    background-color: #2f65f9;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 35%;
    padding: 4%;
    width: 100%;
}

.container__bellow {
    background-color: #f9f8fe;
    padding-bottom: 20%;
}

.container__curve {
    transform: translateY(11%);
}

.curve__img {
    width: 100%;
}

.bellow__container {
    margin: auto;
    width: 90%;
}

.container__hero--mod {
    margin-bottom: 25%;
}

.hero__illustration--mod {
    margin: auto;
    width: 97%;
}

.info__title {
    color: #100b43;
    font-size: 2.1rem;
    margin-bottom: 8%;
    text-align: center;
}

.info__description {
    color: #8c8aa0;
    font-size: 1.7rem;
    margin-bottom: 5%;
}

.container {
    text-align: center;
    margin: 10% auto;
}

.info__cont {
    display: inline;
    border-bottom: 1px solid #369d8c;
    margin: auto;
    padding-bottom: 1%;
    width: max-content;
}

.cont__phrase {
    display: inline;
    color: #369d8c;
    font-weight: 500;
    margin-right: 1.5%;
    vertical-align: middle;
    white-space: nowrap;
}

.cont__contain {
    display: inline-block;
    width: 3%;
}

.cont__icon {
    vertical-align: middle;
    width: 100%;
}

/* #499386; */


.container__testimonial {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    margin: auto;
    padding: 5% 7%;
    width: 90%;
}

.testimonial__aspas {
    margin-bottom: 3%;
    width: 6%;
}

.testimonial__coment {
    color: #0f0c29;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 7%;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    column-gap: 5%;
    row-gap: 5%;
}

.profile__avatar {
    border-radius: 50%;
    width: 12%;
}

.container__name {
    color: #1b1749;
    font-size: 1.8rem;
    margin-bottom: 2%;
}

.container__occupation{
    color: #000012;
    font-size: 1.3rem;
    font-weight: 600;
}

.getstarted {
    background-color: #4c4d77;
    padding: 14% 7% 20% 7%;
}

.getstarted__title {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 6%;
    text-align: center;
}

.getstarted__description {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 8%;
    text-align: center;
}

.form__input--mod {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    margin: 0% auto 3% auto;
    padding: 3%;
    width: 80%;
}

.form__send--mod {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    margin: auto;
    padding: 3%;
    width: 80%;
}

footer {
    background-color: #07043b;
    padding: 12% 7%;
}

.footer__logo {
    margin-bottom: 8%;
}

.footer__contacts {
    margin-bottom: 12%
}

.contacts__item {
    display: flex;
    align-items: center;
    column-gap: 5%;
    margin-bottom: 4%;
}

.item__info {
    color: #ffffff;
    
}

.footer__infos {
    margin-bottom: 10%;
}

.infos__list {
    
}

.list__items {
    list-style: none;
    margin-bottom: 4%;
}

.items__links {
    color: rgba(255, 255, 255, 0.801);
    font-weight: 400;
    text-decoration: none;
}

.socialmedia {
    display: flex;
    column-gap: 3%;
    justify-content: center;
}

.socialmedia__icon {
    width: 8%;
}