@charset "UTF-8";

.links__link {
    font-size: 2.5rem;
}

.about__title {
    font-size: 4rem;
}

.about__description {
    font-size: 2.5rem;
}

.form__input {
    font-size: 2.3rem;
}

.form__send {
    font-size: 2.4rem;
}

.info__title {
    font-size: 3rem;
}

.info__description {
    font-size: 2.3rem;
}

.info__cont {
    padding-bottom: 2%;
}

.cont__phrase {
    font-size: 2.4rem
}

.cont__contain {
    width: 3.5%;
}

.testimonial__coment {
    font-size: 2rem;
}

.container__name {
    font-size: 2rem;
}

.container__occupation {
    font-size: 1.5rem;
}

.getstarted__title {
    font-size: 3rem;
}

.getstarted__description {
    font-size: 2.4rem;
}

.footer__logo {
    width: 30%;
}

.item__icon {
    width: 4%;
}

.item__info {
    font-size: 2rem;
}

.items__links {
    font-size: 2rem
}

.socialmedia__icon {
    width: 7%;
}