@charset "UTF-8";

.logo__image {
    width: 70%;
}

.links__link {
    font-size: 2.5rem;
}

.about__title {
    font-size: 3.6rem;
}

.about__description {
    font-size: 2.5rem;
}

.form__input {
    font-size: 2.3rem;
}

.form__send {
    font-size: 2.5rem;
}

.info__title {
    font-size: 3.2rem;
}

.info__description {
    font-size: 2.5rem;
}

