@charset "UTF-8";

main {
    margin: 3.3% auto;
    width: 35%;
}

body {
    background-size: 40%, 40%;
}

.bubble__top {
    top: -29%;
    left: -27%;
    width: 51%;
}

.bubble__bottom {
    top: 74%;
    left: 63%;
    width: 50%;
}

.info {
    font-size: 1.3rem;
}

.city {
    font-size: 2rem;
}

.container__number {
    font-size: 2.3rem;
}

.container__meaning {
    font-size: 1.3rem;
}
