@charset "UTF-8";

br {
    display: none;
}

.header {
    padding: 12% 0% 5% 0%;
}

.header__logo {
    width: 11%;
}

.title {
    font-size: 5rem;
    margin-bottom: 1.5%;
}

.description--main {
    font-size: 2.2rem;
    margin-bottom: 5%;
    width: 60%;
}

.container {
    display: flex;
    column-gap: 2%;
    justify-content: center;
}

.button {
    font-size: 2.1rem;
    font-weight: 400;
    margin: 0%;
    padding: 1.4%;
    width: 18%;
}

.subtitle {
    font-size: 4.2rem;
    margin: 20% 0% 2.5% 0%;
}

.subtitle--margin {
    margin: 11% 0% 1% 0%;
}

.description {
    font-size: 2.1rem;
    margin-bottom: 10%;
    width: 60%;
}

.description--margin {
    margin-bottom: 4%;
    width: 55%;
}

.funcionalities {
    display: flex;
    column-gap: 4%;
    justify-content: center;
    align-items: flex-start;
}

.funcionalities__container {
    transform: translateX(-5%);
}

.container__image {
    width: 100%;
}

.funcionalities__features {
    margin-top: 3.5%;
}

.container__title {
    font-size: 2.4rem;
    text-align: left;
}

.container__description {
    font-size: 1.6rem;
    text-align: left;
    width: 80%;
}

.picture {
    width: 70%;
}

.picture__image {
    max-width: 100%;
}

.boosts {
    display: flex;
    align-items: flex-start;
}

.boosts__container {
    margin-bottom: 1%;
}

.container__icon {
    margin: 0% auto 3.5rem auto;
    height: 4.5rem;
}

.container__title--mod {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container__description--mod {
    font-size: 1.9rem;
    text-align: center;
    margin: auto;
 
}

.companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 10% auto 0% auto;
    width: 90%;
}

.companies__logo {
    width: 60%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
    padding: 5%;
}

.footer__logo {
    align-self: center;
    margin: 0px;
    padding: 0px;
    width: 5%;
}

.footer__infos {
    display: grid;
    align-items: start;
    grid-column-gap: 20%;
    grid-row-gap: 40%;
    grid-template-columns: repeat(3, 2fr);
    justify-items: start;
    margin-right: 25%;
}

.infos__link {
    font-size: 2.2rem;
    white-space: nowrap;
}

.footer__socialmedia {
    column-gap: 4rem;
    padding: 0%;
}
