@charset "UTF-8";


html {
    height: 100vh;
}

body {
    background-attachment: fixed;
    background-image: url(../imagens/bg-desktop.png);
    background-size: 100% 60%;
    background-position: bottom;
    background-repeat: no-repeat;
}

main {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    margin: 12% auto;
    width: 90%;
}

.top {
    display: flex;
    border-radius: 13px 110px 13px 13px;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;
    padding: 2.5% 2.5%;
    width: 28%;
}

.top__image {
    width: 50%;
}

.top__icons {
    column-gap: 4%;
}

.icons__container {
    justify-items: flex-end;
    padding: 9%;
}

.container__icon {
    width: 50%;
}

.container__icon--document {
    width: 45%;
}

.container__icon--upload {
    width: 65%;
}

.info {
    align-self: flex-end;
    padding: 3%;
    height: 10vw;
    width: 42%;
}

.info__usage {
    font-size: 1.4rem;
    margin-bottom: 4%;
    text-align: left;
}

.info__bar {
    margin-bottom: 1%;
}

.usage__ball {
    height: 9px;
    width: 9px;
}

.storage__amount {
    font-size: 1.7rem;
}

.info__remain {
    border-radius: 15px 15px 0px 15px;
    height: 46%;
    top: -27%;
    left: 58%;
}

.info__remain::after {
    background-color: rgb(255, 255, 255);
    clip-path: polygon(100% 0, 12% 0, 100% 100%);
    content: "";
    height: 38%;
    width: 26%;
    position: absolute;
    top: 83%;
    left: 74%;
    transform: rotate(0deg);
}

.remain__gb {
    font-size: 4rem
}
