@charset "UTF-8";

header {
    background-image: url("../imagens/bg-hero-desktop.svg");
    padding-top: 2%;
    margin-bottom: 10%;
}

.top {
    margin-bottom: 4%;
    padding: 1% 4%;
}

.top__image {
    width: 13%;
}

.top__button {

    font-size: 1.5rem;
    font-weight: 800;
    padding: 1% 4%;
}

.header__main {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 40% 60%;
    width: 90%;
}

.main__container {
    align-self: center;
}

.main__title {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 4%;
}

.main__description {
    font-size: 1.7rem;
    margin-bottom: 5%;
    text-align: left;
}

.main__button {
    display: block;
    font-size: 2rem;
    padding: 3%;
    width: 60%;
}

.main__image {
    align-self: start;
    margin: 0%;
    width: 90%;
}

main {
    padding-bottom: 15%;
}


.advantages {
    display: flex;
    align-items: center;
    background-color: white;
    column-gap: 5%;
    padding: 7%;
    width: 100%;
}

.advantages__image {
    padding: 0%;
    
}

.image__illustration {
   margin: 0%;
   width: 90%;
}

.advantages__container--mod {
    order: -1;
}

.advantages__title {
    font-size: 3rem;
    text-align: left;
}

.advantages__description {
    font-size: 1.6rem;
    margin: 0px;
    text-align: left;
    width: 100%;
}

footer {
    padding: 0% 7% 2% 7%;
}

.getstart {
    padding: 6% 10%;
    transform: translateY(-50%);
    width: 60%;
}

.getstart__title {
    font-size: 3rem;
}

.getstart__button {
    font-size: 2.3rem;
    padding: 4% 15%;
}

.footer__container {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
}

.container__logo {
    margin-bottom: 4%;
    width: 25%;
}

.contacts__container {
    transform: translateY(0%);
}

.item__icon {
    width: 5%;
}

.item__icon--big {
    width: 6%;
}

.item__info {
    font-size: 1.3rem;
}

.links__item {
    font-size: 1.9rem;
}

.socialmedia {
    column-gap: 10%;
}

.socialmedia__icons {
    width: 25%;
}

.allrights {
    font-size: 1.5rem;
    margin-bottom: 0%;
    text-align: right;
}