@charset "UTF-8";

main {
    margin: 3.8% auto;
    padding: 1% 2%;
    width: 26%;
}

.profile {
    width: 100%;
}

.profile__photo {
    width: 30%;
    margin: 3% 0% 6% 0%;
}

.profile__name {
    font-size: 2.2rem;
}

.profile__location {
    font-size: 1.3rem;
    margin: 1% 0% 4% 0%;
}

.profile__bio {
    font-size: 1.3rem;
}

.socialmedias__list {
    margin: 4% 0%;
    padding: 3.7%;
}

.list__link {
    font-size: 1.3rem;
}
