@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin-top: 50px;
    background-color: hsl(225, 100%, 98%); 
}

section {
    background-color: white;
    width: 375px;
    height: 570px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}

.image__img {
    width: 100%;
}

.title {
    font-weight: 900;
    color: #16244b;
    text-align: center;
    margin: 25px 0px;
}

.paragraph {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #707386;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    background-color: #f8f9fe; 
    border-radius: 10px;
}

.plan__img, .change {
    padding: 10px;
}

.plan__price {
    text-align: center;
    margin-right: 60px;
}

.plan__annual {
    color: #1d2943;
    font-size: 16px;
}

.change {
    font-weight: 900;
    font-size: 14px;
    color: #3f32b5;
}

.change:hover {
    color: #6660ba;
    text-decoration: none;
}


.payment, .cancel {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 90%;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
    text-decoration: none;
    border-radius: 10px;
}

.payment:hover {
    border: 1px solid rgba(0, 0, 0, 0.699);
    background-color: #766cf1;
}

.cancel {
    text-decoration: none;
    color: gray;
    font-weight: 900;
}

.cancel:hover {
    color: #1c2542;
}