@charset "UTF-8";

main {
    display: flex;
    width: 70%;
}

.image {
    background-image: url(../imagens/image-header-desktop.jpg);
    order: 1;
    width: 50%;
    padding: 0%;
}

.description {
    font-size: 1.6rem;
}

.stats__value {
    font-size: 2.7rem;
}

.stats__info {
    font-size: 1.6rem;
} 