@charset "UTF-8";

main {
    width: 80%;
}

.image {
    margin: 0px;
}

.title {
    font-size: 4rem;
}

.description {
    font-size: 2.2rem;
}

.stats__value {
    font-size: 4.2rem;
}

.stats__info {
    font-size: 2.4rem;
}